body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  width: 100%;
  height: 15vh;
  background-color: red;
  position: fixed;
}

.sidebar{
  margin-top: 15vh;
  float: left;
  position: relative;
  
}

.sidebar-route{
  float: right;
  background-color: springgreen;
}

.sidebar-list{
  background-color: seagreen;
  height: inherit;
  width: 20vw;
  float: left;
}